<a href="https://colab.research.google.com/github/conqryash007/Jupyter-Codebook/blob/main/Decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [17]:
# load file from drive

data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/Decision_Tree_ Dataset.csv",sep=',',header= 0)

In [18]:
print(data.shape)

(1000, 6)

In [19]:
data.columns = ["Initial Payment","Last Payment","Credit Score","House Number","Sum","Result"]

In [20]:
data.head()

   Initial Payment  Last Payment  Credit Score  House Number    Sum Result
0              201         10018           250          3046  13515    yes
1              205         10016           395          3044  13660    yes
2              257         10129           109          3251  13746    yes
3              246         10064           324          3137  13771    yes
4              117         10115           496          3094  13822    yes

In [23]:
# Test and Training Data

X = data.values[:,0:4]
Y = data.values[:,5]